@font-face {
    font-family: 'TTLakes-Medium';
    src: url(../fonts/TTLakes-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}



body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    max-width: 1120px;
    background: #F2F2F2;
}



.section-brands {
    border-top: 1px solid #D9FFF5;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;


}

.section-brands__header {
    font-family: 'TTLakes-Medium';
    font-size: 12px;
    color: #7E7E82;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-bottom: 10px;
    padding: 16px;
    width: 100%;
}

.swiper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    padding-left: 16px;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;

}

.swiper-slide {
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
    max-width: 240px;
    margin-right: 16px;
    height: 80px;
    background-color: white;

}

.image {
    margin-left: 16px;
    position: relative;
    top: -5px;
}

.slider__link {
    display: flex;
    border: 2px solid #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-left: auto;
    position: relative;
    top: -5px;
    justify-content: center;
    transition: 0.3s;
}

.slider__link:hover {
    transform: scale(1.1);
    
}

.slider__link::before {
    content: '';
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    margin-top: 15px;

}

.swiper-pagination {
    top: 190px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d2cece;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.button {
    display: none;
}


.slider__items_hidden {
    display: flex;
    height: 102px;
    margin-top: 20px;
}


@media(min-width: 768px) {

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-slide {
        flex-wrap: wrap;
        margin-bottom: 16px;
    }


    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: TTLakes-medium;
        background: unset;
        border: unset;
        height: 25px;
        padding: 2px 0;
        align-self: start;
        position: relative;
        top: 15px;
        margin-left: 16px;
        cursor: pointer;
    }

    .button_show-more::before {
        content: " ";
        background-image: url(../img/icon.svg);
        width: 7px;
        height: 11px;
        margin-left: 5px;
        margin-right: 16px;

    }
    

    .button_hide::before {
        content: " ";
        background-image: url(../img/icon.svg);
        width: 7px;
        height: 11px;
        margin-left: 5px;
        margin-right: 16px;
        transform: rotate(180deg);
    }

    .hidden {
        display: none;
    }
}
